body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.footer {
  align-items: center;
  justify-content: center;
  background-color: grey;
  height: 50px;
  bottom: 0;
  width: 100vw;
  overflow: hidden;
  position: fixed;
  display: flex;
 }

.header {
  height: 50px;
  top: 0;
  align-items: center;
  justify-content: center;
  display: flex;
  background-color: beige;
  margin-top: 0;
}

.img {
  width: 250px;
  height: 250px;
}

.game-container{
  min-height: 100%;
  display: flex;
}

.choice {
  flex: 1
}

.myChoice {
  flex: 1
  
}

.btn {
  display: block;
}